<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Gun Violence</title>

  <!-- Leaflet JS & CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>

  <!-- Marker Cluster JS & CSS -->
  <script type="text/javascript"
    src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
  <link rel="stylesheet" type="text/css"
    href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">

  <!-- d3 JavaScript -->
  <script src="https://d3js.org/d3.v4.min.js"></script>

  <!-- Boostrap Stylesheet -->
  <link rel="stylesheet" href="../static/css/bootstrap.min.css" media="screen">

  <!-- Our own CSS stylesheet -->
  <link rel="stylesheet" href="../static/css/map_style.css" media="screen">

</head>

<body>
  <!-- Start of navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid navbar-custom">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="row">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="col-xs-9 phone-nav">
            <a class="navbar-brand" href="/" id="logo">Gun Violence and Mass Shootings in America</a>
          </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right navbar-right-custom">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">Plots <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/plots/sunburst">Sunburst</a></li>
                <li><a href="/plots/mass_map">Mass Map</a></li>
                <li><a href="/plots/cluster_map">Cluster Map</a></li>
              </ul>
            </li>
            <li><a href="/comparisons">Comparisons</a></li>
            <li><a href="/data">Data</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </div><!-- /.container-fluid -->
  </nav>
  <!-- End of navbar -->

  <!-- map div -->
  <div id="map"></div>
  <!-- API key -->
  <script type="text/javascript" src="../static/js/config.js"></script>
  <!-- JS  -->
  <script type="text/javascript" src="../static/js/cluster_map.js"></script>

  <!-- Start of footer -->
  <footer class="footer navbar-fixed-bottom">
    <div class="two-toned-footer-color"></div>
    <p class="text-muted text-muted-footer text-center">
      Created by Jeff, Ryan and Whitney
    </p>
  </footer>
  <!-- End of footer -->

  <!-- jQuery CDN -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

  <!-- Bootstrap CDN -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>

</html>