<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Gun Violence</title>

  <!-- Boostrap Stylesheet -->
  <link rel="stylesheet" href="../static/css/bootstrap.min.css" media="screen">

  <!-- Our own CSS stylesheet -->
  <link rel="stylesheet" href="../static/css/style.css" media="screen">

  <!-- Modal CCS stylesheet -->
  <link rel="stylesheet" href="../static/css/modal.css" media="screen">


</head>

<body>
  <!-- Start of navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid navbar-custom">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="row">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="col-xs-9 phone-nav">
            <a class="navbar-brand" href="/" id="logo">Gun Violence and Mass Shootings in America</a>
          </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right navbar-right-custom">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">Plots <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/plots/sunburst">Sunburst</a></li>
                <li><a href="/plots/mass_map">Mass Map</a></li>
                <li><a href="/plots/cluster_map">Cluster Map</a></li>
              </ul>
            </li>
            <li><a href="/comparisons">Comparisons</a></li>
            <li><a href="/data">Data</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </div><!-- /.container-fluid -->
  </nav>
  <!-- End of navbar -->

  <div class="container">
    <article class="description-content row">
      <div class="col-xs-12">
        <h1 class="description-header">Takeaways</h1>
        <hr class="description-hr" />
        <p class="description-text">
          We analyzed two sets of data:
        </p>
        <p class="description-text">
          1. Mass shootings from 1982 to current day
        </p>
        <p>
          2. Gun Violence Incidents from 2014-2019 to shed light on non-mass shooting events
        </p>
        <p class="description-text">
          Here are the major take-aways for Gun Violence: The number of gun violence incidents increased from 269 to 340 incidents from 2014-2018 - an increase of 26%. Gun violence incidents peaked in 2016 but 2019 is on pace to surpass 2018 by about 14%.
        </p>
        <p class="description-text">
          We split the incidents by seasons (fall, winter, etc.) If season had zero impact on incidents, we would expect that there would be no difference between seasons. Each season would account for 25% of the total incidents. The warmer the weather the more the incidents - summer in 2018 accounted for 38% of all incidents, fall 25%, spring 20% and winter just 15%. July is the most lethal month. March the least lethal.
        </p>
        <p class="description-text">
          We looked at the average number of time between gun violence incidents: In 2014 the average time between incidents of gun violence was 2.10 days. By 2018 this figure had dropped to 1.68 days Or ... another way to think about it is average time between incidents in 2014 was 50.4 hours, by 2018 it had decreased to 40.3 hours between gun violence events.
        </p>
        <p class="description-text">
          We also looked at the number of people injured and killed from each of these events: In 2014 each incident injured or killed 7.75 people. By 2018 each incident injured or killed 10.13 people a 30% increase in lethality.
        </p>
      </div>

      <!-- <div class="col-md-6">
        <h2 class="comparison-header">Average Number of Incidents</h2>
        <a href="visualizations/temp.html"><img src="../static/images/average_casualties.png" alt="average_casualties"
            class="comparison-image img-responsive"></a>
        <hr class="visible-xs visible-sm">
      </div> -->

      <div class="col-md-6">
        <h2 class="comparison-header">Average Number of Incidents</h2>
        <img id="myImg1" src="../static/images/average_casualties.png" alt="Average Number of Incidents"
          class="comparison-image img-responsive">
        <div id="myModal1" class="modal">

          <!-- The Close Button -->
          <span class="close">&times;</span>

          <!-- Modal Content (The Image) -->
          <img class="modal-content1" id="img01">

          <!-- Modal Caption (Image Text) -->
          <div id="caption"></div>
        </div>
      </div>

      <!-- <div class="col-md-6">
        <h2 class="comparison-header">Days Between Incidents</h2>
        <a href="visualizations/humidity.html"><img src="../static/images/days_between_incidents.png"
            alt="days_between_incidents" class="comparison-image img-responsive"></a>
        <hr class="visible-xs visible-sm">
      </div> -->

      <div class="col-md-6">
        <h2 class="comparison-header">Days Between Incidents</h2>
        <img id="myImg2" src="../static/images/days_between_incidents.png" alt="Days Between Incidents"
          class="comparison-image img-responsive">
        <div id="myModal2" class="modal">

          <!-- The Close Button -->
          <span class="close2">&times;</span>

          <!-- Modal Content (The Image) -->
          <img class="modal-content" id="img02">

          <!-- Modal Caption (Image Text) -->
          <div id="caption"></div>
        </div>
      </div>

      <!-- <div class="col-md-6">
        <h2 class="comparison-header">Incidents by Season</h2>
        <a href="visualizations/cloudiness.html"><img src="../static/images/incidents_by_season.png"
            alt="incidents_by_season" class="comparison-image img-responsive"></a>
        <hr class="visible-xs visible-sm">
      </div> -->

      <div class="col-md-6">
        <h2 class="comparison-header">Incidents by Season</h2>
        <img id="myImg3" src="../static/images/incidents_by_season.png" alt="Incidents by Season"
          class="comparison-image img-responsive">
        <div id="myModal3" class="modal">

          <!-- The Close Button -->
          <span class="close3">&times;</span>

          <!-- Modal Content (The Image) -->
          <img class="modal-content" id="img03">

          <!-- Modal Caption (Image Text) -->
          <div id="caption"></div>
        </div>
      </div>

      <!-- <div class="col-md-6">
        <h2 class="comparison-header">Number of Incidents</h2>
        <a href="visualizations/wind.html"><img src="../static/images/number_of_incidents.png" alt="number_of_incidents"
            class="comparison-image img-responsive"></a>
      </div> -->

      <div class="col-md-6">
        <h2 class="comparison-header">Number of Incidents</h2>
        <img id="myImg4" src="../static/images/number_of_incidents.png" alt="Number of Incidents"
          class="comparison-image img-responsive">
        <div id="myModal4" class="modal">

          <!-- The Close Button -->
          <span class="close4">&times;</span>

          <!-- Modal Content (The Image) -->
          <img class="modal-content" id="img04">

          <!-- Modal Caption (Image Text) -->
          <div id="caption"></div>
        </div>
      </div>
    </article>
  </div>

  <!-- Start of footer -->
  <footer class="footer navbar-fixed-bottom">
    <div class="two-toned-footer-color"></div>
    <p class="text-muted text-muted-footer text-center">
      Created by Jeff, Ryan and Whitney
    </p>
  </footer>
  <!-- End of footer -->

  <!-- JS  -->
  <script type="text/javascript" src="../static/js/modal.js"></script>

  <!-- jQuery CDN -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

  <!-- Bootstrap CDN -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>

</html>